@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body{
  font-family: "Saans TRIAL", sans-serif;
  /* font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  overflow-x: hidden; */
  background-color: #000;
}

a, p  {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  /* letter-spacing: 0.05em;
  font-family: "Saans TRIAL", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
.page-content{
  width: 100%;
  height: 100vh;
 
  min-height: 100vh;
  padding: 6em 2em;
}
.page-content.hero{
  /* background: url("./Hero.jpg") no-repeat 50% 50%; */
  /* background-size: cover; */
  background: url("./Hero.jpg")  no-repeat 50% 50%;
  background-size: cover;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #fff;
}
h1 sup {
  position: relative;
  top: -20px;
  left:10px;
  font-size: 1.5vw;
  letter-spacing: 0;
}

@media (max-width: 900px){
  .page-content h1{
      font-size: 10vw;
  }
  h1 sup {
      font-size: 4vw;
  }
}
